<!DOCTYPE html>
<html>
<head>
  <title>Delayed overview</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "delayed_overview/application", media: "all" %>
  <%= javascript_include_tag "delayed_overview/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
